results/**
results**
resources/**
others/**
data/**
.snakemake
.snakemake/**
*.Rproj
.Rproj.user/**
**.html

R/Others
R/Results
logs

.github/
.template/
.Rproj.user
.Rhistory
tests
*.vsg# pixi environments
.pixi/*
!.pixi/config.toml
